@import '../../../vendor/filament/filament/resources/css/theme.css';
@import './_global.css';
@import './_sidebar.css';
@import './_tables.css';
@import './_tabs.css';
@import './_forms.css';
@import './_buttons.css';


@source '../../../app/Filament/**/*.php';
@source '../../../resources/views/filament/**/*.blade.php';

@theme {
  --color-primary: var(--color-black);
  --color-accent: var(--color-zinc-800);
  --color-accent-content: var(--color-zinc-800);
  --color-accent-foreground: var(--color-white);
}
/* Component styles */
